<html>
<head>

</head>
<body>

</body>
<h1>Restaurant List</h1>


<a href = "{{url_for('newRestaurant')}}">Add a new restaurant.</a>

<div>

{% with messages = get_flashed_messages() %}
	{% if messages %}

<ul>
	{% for message in messages %}
	<li><strong>{{message}}</li></strong>
		{% endfor %}
</ul>
	{%endif%}
	{%endwith%}

<ol>

{% if restaurantList|length > 0 %}

    {% for restaurant in restaurantList %}
    <li><a href = "{{url_for('showMenu', restaurant_id = restaurant.id)}}"><strong>{{restaurant.name}}</strong></a></li>
    <p><a href = "{{url_for('editRestaurant', restaurant_id = restaurant.id)}}">Edit this restaurant</a></p>
    <p><a href = "{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}">Delete this restaurant</a></p>
    
    {% endfor %}

{% else %}
    <h2> There are no restaurants </h2>
{% endif %}
</ol>

</div>

</body>

</html>